

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #555;

}


h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}